<ng-container *ngIf="type === 'person' || type === 'tv' || type === 'movie'">
    <!-- Backdrops Section -->
    <div *ngIf="backdrops.length > 0">
        <div class="head">
            <h2 class="title">Backdrops</h2>
            <strong class="count">{{ (backdrops | slice: 1:13).length }} Images</strong>
        </div>
        <div class="items mb30">
            <div class="item backdrop" *ngFor="let backdrop of backdrops | slice: 1:13">
                <div class="image lazyloaded">
                    <img *ngIf="backdrop?.file_path" class="lazyload" [src]="'https://image.tmdb.org/t/p/w533_and_h300_bestv2/' + backdrop.file_path">
                    <span *ngIf="!backdrop?.file_path">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill-rule="evenodd" clip-rule="evenodd" fill="#999">
                            <path d="M24 22h-24v-20h24v20zm-1-19h-22v18h22v-18zm-1 16h-19l4-7.492 3 3.048 5.013-7.556 6.987 12zm-11.848-2.865l-2.91-2.956-2.574 4.821h15.593l-5.303-9.108-4.806 7.243zm-4.652-11.135c1.38 0 2.5 1.12 2.5 2.5s-1.12 2.5-2.5 2.5-2.5-1.12-2.5-2.5 1.12-2.5 2.5-2.5zm0 1c.828 0 1.5.672 1.5 1.5s-.672 1.5-1.5 1.5-1.5-.672-1.5-1.5.672-1.5 1.5-1.5z"></path>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Posters Section -->
    <div *ngIf="posters.length > 0">
        <div class="head">
            <h2 class="title">Posters</h2>
            <strong class="count">{{ (posters | slice: 1:20).length }} Images</strong>
        </div>
        <div class="items">
            <div class="item poster" *ngFor="let poster of posters | slice: 1:20">
                <div class="image lazyloaded">
                    <img *ngIf="poster?.full_path" class="lazyload" [src]="poster.full_path">
                    <span *ngIf="!poster?.full_path">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill-rule="evenodd" clip-rule="evenodd" fill="#999">
                            <path d="M24 22h-24v-20h24v20zm-1-19h-22v18h22v-18zm-1 16h-19l4-7.492 3 3.048 5.013-7.556 6.987 12zm-11.848-2.865l-2.91-2.956-2.574 4.821h15.593l-5.303-9.108-4.806 7.243zm-4.652-11.135c1.38 0 2.5 1.12 2.5 2.5s-1.12 2.5-2.5 2.5-2.5-1.12-2.5-2.5 1.12-2.5 2.5-2.5zm0 1c.828 0 1.5.672 1.5 1.5s-.672 1.5-1.5 1.5-1.5-.672-1.5-1.5.672-1.5 1.5-1.5z"></path>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </div>
</ng-container>
