<div class="listing">
    <div class="listing__head">
        <h3 class="listing__title">TV Shows</h3>
    </div>
    <app-skeleton *ngIf="loader"></app-skeleton>
    <div class="row" *ngIf="!loader">
        <div class="col-md-2 listing__items" *ngFor="let item of topRatedTv | slice:0:18">
            <div [routerLink]="['/tv/', item.id]">
                <div class="listing-item-style">
                    <div class="overlay">
                        <div class="hover"><i class="material-icons">play_arrow</i> PLAY NOW</div>
                    </div>
                    <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{item?.poster_path}}" [alt]="item.title ? item.title : item.name">
                    <img *ngIf="!item?.poster_path" src="assets/images/default-movie.png" [alt]="item.title ? item.title : item.name">
                    <h6>{{ item?.name }}</h6>
                    <p class="rate"><i class="material-icons">star</i><span>{{item?.vote_average}}</span> /10</p>
                    <p class="year"><span>{{item?.first_air_date | date: 'yyyy'}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <mat-paginator [length]="totalResults" [pageSize]="20" (page)="changePage($event)"></mat-paginator>
    </div>
</div>