<div class="listing">
    <div class="listing__head">
        <h3 class="listing__title">Popular TV Shows</h3>
        <!-- <a class="listing__explore"><strong>Explore All</strong></a> -->
    </div>
    <p-carousel [value]="popular_data" [numVisible]="6" [numScroll]="4" [circular]="false">
        <ng-template let-item pTemplate="item">
            <div class="listing-item-style" [routerLink]="['/tv/', item.id]">
                <div class="overlay">
                    <div class="hover"><i class="material-icons">play_arrow</i> PLAY NOW</div>
                </div>
                <img *ngIf="item?.poster_path"
                    src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{ item?.poster_path }}">
                <img *ngIf="!item?.poster_path" src="assets/images/default-movie.png">
                <h6>{{ item?.name }}</h6>
                <p class="rate"><i class="material-icons">star</i><span>{{ item?.vote_average }}</span> /10
                </p>
            </div>
        </ng-template>
    </p-carousel>
</div>
<!-- <mat-paginator (page)="pageChange($event)" [length]="length" [pageSize]="pageSize"></mat-paginator> -->


<div class="listing">
    <div class="listing__head">
        <h3 class="listing__title">Top Rated TV Shows</h3>
        <!-- <a class="listing__explore"><strong>Explore All</strong></a> -->
    </div>
    <p-carousel [value]="top_rated_tv" [numVisible]="6" [numScroll]="4" [circular]="false">
        <ng-template let-item pTemplate="item">
            <div class="listing-item-style" [routerLink]="['/tv/', item.id]">
                <div class="overlay">
                    <div class="hover"><i class="material-icons">play_arrow</i> PLAY NOW</div>
                </div>
                <img *ngIf="item?.poster_path"
                    src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{item?.poster_path}}">
                <img *ngIf="!item?.poster_path" src="assets/images/default-movie.png">
                <h6>{{ item?.name }}</h6>
                <p class="rate"><i class="material-icons">star</i><span>{{item?.vote_average}}</span>/10
                </p>
            </div>
        </ng-template>
    </p-carousel>
</div>

<div class="listing">
    <div class="listing__head">
        <h3 class="listing__title">Currently Airing TV Shows</h3>
        <!-- <a class="listing__explore"><strong>Explore All</strong></a> -->
    </div>
    <p-carousel [value]="airing_tv" [numVisible]="6" [numScroll]="4" [circular]="false">
        <ng-template let-item pTemplate="item">
            <div class="listing-item-style" [routerLink]="['/tv/', item.id]">
                <div class="overlay">
                    <div class="hover"><i class="material-icons">play_arrow</i> PLAY NOW</div>
                </div>
                <img *ngIf="item?.poster_path"
                    src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{item?.poster_path}}">
                <img *ngIf="!item?.poster_path" src="assets/images/default-movie.png">
                <h6>{{ item?.name }}</h6>
                <p class="rate"><i class="material-icons">star</i><span>{{item?.vote_average}}</span>/10
                </p>
            </div>
        </ng-template>
    </p-carousel>
</div>


<div class="listing">
    <div class="__Movies_head">
        <h3 class="listing__title">TV Shows Airing Today</h3>
        <!-- <a class="listing__explore"><strong>Explore All</strong></a> -->
    </div>
    <p-carousel [value]="tv_show_airing_today" [numVisible]="6" [numScroll]="4" [circular]="false">
        <ng-template let-item pTemplate="item">
            <div class="listing-item-style" [routerLink]="['/tv/', item.id]">
                <div class="overlay">
                    <div class="hover"><i class="material-icons">play_arrow</i> PLAY NOW</div>
                </div>
                <img *ngIf="item?.poster_path"
                    src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{item?.poster_path}}">
                <img *ngIf="!item?.poster_path" src="assets/images/default-movie.png">
                <h6>{{ item?.name }}</h6>
                <p class="rate"><i class="material-icons">star</i><span>{{item?.vote_average}}</span>/10
                </p>
            </div>
        </ng-template>
    </p-carousel>
</div>