.footer {
  background-color: #212121;
  padding: 1rem 0rem 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  p {
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 1;
  }

  .list-inline {
    li {
      a {
        width: 4rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          transition: all .3s ease-in-out;

          &:hover {
            fill: #fff;
          }
        }
      }
    }
  }
}
