@import '../utilities/_variables.scss';

    .nav {
        display: flex;
        height: 4.8rem;
        background-color: #1b1b1b;

        @media (min-width: $breakpoint-large) {
            justify-content: center;
            margin-top: 2.5rem;
            background: none;
        }
    }

    .buttonTab {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0 0 -0.2rem;
        font-size: 1.4rem;
        font-weight: 500;
        color: #585858;
        text-transform: uppercase;
        letter-spacing: $letter-spacing;
        background: none;
        border-right: 1px solid $base-bg;
        outline: 0;
        transition: color 0.2s ease;

        &:hover {
            background: none;
        }

        @media (min-width: $breakpoint-large) {
            width: auto;
            margin: 0 3rem;
            font-size: 2rem;
            border-bottom: 2px solid transparent;
        }

        &:last-child {
            border-right: 0;
        }

        &:hover,
        &:focus {
            color: #fff;
        }
    }

    .buttonActive {
        color: #fff;
        background-color: $base-bg;

        @media (min-width: $breakpoint-large) {
            background: none;
            border-bottom-color: #fff;
        }
    }

    .info {
        @media (min-width: $breakpoint-medium) {
            display: flex;
        }
    }

    .left {
        display: none;

        @media (min-width: $breakpoint-medium) {
            display: block;
            width: 25%;
            max-width: 400px;
            padding-right: 3rem;
        }

        @media (min-width: $breakpoint-large) {
            padding-right: 5rem;
        }

        .poster {
            width: 100%;
            position: relative;
            height: 0;
            padding-top: 150.27%;
            overflow: hidden;
            background-color: $secondary-color;
    
            img,
            span {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
    
            span {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .right {
        @media (min-width: $breakpoint-medium) {
            flex: 1;
        }
    }

    .overview {
        max-width: 1000px;
        margin-bottom: 3rem;
        font-size: 1.5rem;
        color: $text-color;

        @media (min-width: $breakpoint-large) {
            font-size: 1.6rem;
        }
    }

    .title {
        margin-bottom: 1rem;
        font-size: 1.8rem;
        color: #fff;
        letter-spacing: $letter-spacing;

        @media (min-width: $breakpoint-large) {
            font-size: 2.4rem;
        }
    }

    .stats {
        margin-bottom: 3rem;
        font-size: 1.5rem;
        color: $text-color;

        @media (min-width: $breakpoint-large) {
            font-size: 1.6rem;
        }

        ul {
            @media (min-width: $breakpoint-medium) {
                display: flex;
                flex-wrap: wrap;
            }
        }

        li {
            display: flex;
            padding: 0.2rem 0;

            @media (min-width: $breakpoint-medium) {
                width: 50%;
            }

            @media (min-width: $breakpoint-xlarge) {
                width: 100%;
            }
        }

        a {
            color: $primary-color;
            background: $secondary-color;
            padding: 4px 5px;
            margin-right: 7px;
            border-radius: 2px;
            font-size: 14px;
        }
    }

    .label {
        flex: 1;
        max-width: 90px;
        margin-right: 1.5rem;
        color: #fff;

        @media (min-width: $breakpoint-xsmall) {
            max-width: 110px;
        }
    }

    .value {
        flex: 2;
    }

    .external {
        ul {
            display: flex;
            margin-left: -0.5rem;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4.4rem;
            height: 4.4rem;

            svg {
                transition: all 0.3s ease-in-out;
            }

            &:hover,
            &:focus {
                svg {
                    fill: $primary-color;
                }
            }
        }
    }

    .head {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;

        @media (min-width: $breakpoint-large) {
            margin-bottom: 2rem;
        }

        select {
            margin-right: 1rem;
        }
    }

    .count {
        font-size: 1.2rem;
        margin-left: 1rem;
        color: $text-color-grey;
        letter-spacing: $letter-spacing;

        @media (min-width: $breakpoint-large) {
            font-size: 1.4rem;
        }
    }

    .items {
        display: flex;
        flex-wrap: wrap;
        margin-right: -1rem;
        margin-left: -1rem;
    }

    .ename{
        font-size: 1.6rem;
        letter-spacing: .4px;
        margin-bottom: 1rem;
        strong{
            color: #a6db38;
        }
    }

    .overview {
        color: #ebd9f8;
        flex: 1 0 auto;
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
    .aired{
        color: #80868b;
        font-size: 1.4rem;
        letter-spacing: .4px;
    }

    .item {
        display: flex;
        width: 100%;
        padding: 1rem;
        margin-bottom: 2rem;

        @media (min-width: $breakpoint-xsmall) {
            width: 50%;
        }

        @media (min-width: $breakpoint-medium) {
            width: 33.3333333%;
        }

        @media (min-width: 1450px) {
            width: 25%;
        }

        @media (min-width: 2000px) {
            width: 20%;
        }

        @media (min-width: 3000px) {
            width: 16.6666667%;
        }
    }

    .link {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .duration {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 0.4rem 1.2rem 0.2rem;
        font-size: 1.3rem;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .vname {
        flex: 1 0 auto;
        margin-top: 1rem;
        font-size: 1.3rem;
        letter-spacing: $letter-spacing;

        @media (min-width: $breakpoint-large) {
            margin-bottom: 0.5rem;
            font-size: 1.5rem;
        }
    }

    .type {
        font-size: 1.2rem;
        color: $text-color-grey;
        letter-spacing: $letter-spacing;

        @media (min-width: $breakpoint-large) {
            font-size: 1.4rem;
        }
    }

   

    .poster {
        width: 33.3333333%;

        @media (min-width: $breakpoint-xsmall) {
            width: 25%;
        }

        @media (min-width: $breakpoint-medium) {
            width: 20%;
        }

        @media (min-width: 1500px) {
            width: 16.6666667%;
        }

        @media (min-width: 1800px) {
            width: 14.2857143%;
        }

        @media (min-width: 2500px) {
            width: 12.5%;
        }
        
    }