<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="spacing info">
                <div class="left">
                    <div class="poster lazyloaded">
                        <img class="lazyload"
                            src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{ person?.profile_path }}">
                    </div>
                </div>
                <div class="right">
                    <div class="overview">
                        <h2 class="title">{{person?.name}}</h2>
                        <div *ngIf="person.biography">{{person?.biography}}</div>
                    </div>
                    <div class="stats">
                        <ul class="nolist">
                            <li *ngIf="person.known_for_department">
                                <div class="label">
                                    Known For
                                </div>
                                <div class="value">
                                    {{ person?.known_for_department }}
                                </div>
                            </li>
                            <li *ngIf="person.birthday">
                                <div class="label">
                                    Born
                                </div>
                                <div class="value">
                                    {{ person?.birthday | fullDate }}
                                </div>
                            </li>
                            <li *ngIf="person?.deathday">
                                <div class="label">
                                    Death
                                </div>
                                <div class="value">
                                    {{ person?.deathday | fullDate }}
                                </div>
                            </li>
                            <li *ngIf="person.place_of_birth">
                                <div class="label">
                                    Place of Birth
                                </div>
                                <div class="value">
                                    {{ person?.place_of_birth }}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="listing-space mb-20" *ngIf="!person_cast">
                <div class="listing__head">
                    <h2 class="listing__title">Similar Movies</h2>
                </div>
                <p-carousel [value]="person_cast" [numVisible]="6" [numScroll]="4" [circular]="false">
                    <ng-template let-similar_movies pTemplate="item">
                        <div class="listing-item-style" [routerLink]="['/movies/', similar_movies.id]">
                            <div class="overlay">
                                <div class="hover"><i class="material-icons">play_arrow</i> PLAY NOW
                                </div>
                            </div>
                            <img *ngIf="similar_movies?.poster_path"
                                src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{similar_movies?.poster_path}}">
                            <img *ngIf="!similar_movies?.poster_path" src="assets/images/default-movie.png">
                            <h6>{{ similar_movies?.title }}</h6>
                            <p class="rate"><i
                                    class="material-icons">star</i><span>{{similar_movies?.vote_average}}</span>
                                /10</p>
                            <div class="year"><span>{{similar_movies?.release_date | date: 'yyyy'}}</span>
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>
            </div>
        </div>
    </div>
</div>