<div class="spacing">
    <app-media class="info" [data]="person_data" [externalData]="external_data" type="person"></app-media>
</div>


<div class="nav">
    <button type="button" id="knownfor" class="buttonTab" [class.buttonActive]="activeTab === 'knownfor'"
        (click)="setActiveTab('knownfor')">
        Known For
    </button>
   
    <button type="button" id="poster" class="buttonTab" [class.buttonActive]="activeTab === 'poster'"
        (click)="setActiveTab('poster')">
        Photos
    </button>
</div>

<div class="spacing">
    <div *ngIf="activeTab === 'knownfor'" id="knownfor">
        <app-listing [items]="knownfor | sortByYear:'year'"   class="listing"></app-listing>
    </div>

    <div *ngIf="activeTab === 'poster'" id="posters">
        <app-images [posters]="posters"></app-images>
    </div>
</div>
