<app-slider [data]="movies_data"></app-slider>

<app-carousel [title]="'Popular Movies'" [isExplore]="false" [exploreLink]="'/movie/category/popular'" 
    [items]="movieCategories['popularMovies']" [canNavigateLeft]="true" [canNavigateRight]="true">
</app-carousel>

<app-carousel [title]="'Top Rated Movies'" [isExplore]="false" [exploreLink]="'/movie/category/top_rated'"
    [items]="movieCategories['topRatedMovies']" [canNavigateLeft]="true" [canNavigateRight]="true">
</app-carousel>

<app-carousel [title]="'Upcoming Movies'" [isExplore]="false" [exploreLink]="'/movie/category/upcoming'"
    [items]="movieCategories['upcomingMovies']" [canNavigateLeft]="true" [canNavigateRight]="true">
</app-carousel>

<app-carousel [title]="'Now Playing Movies'" [isExplore]="false" [exploreLink]="'/movie/category/now_playing'"
    [items]="movieCategories['nowPlayingMovies']" [canNavigateLeft]="true" [canNavigateRight]="true">
</app-carousel>
